[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/autocomplete"]
	path = zsh/plugins/autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "tools/diff-so-fancy"]
	path = tools/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
